services:
  agent-api:
    container_name: learn-ai-agents
    build:
      context: ../../
      dockerfile: src/learn_ai_agents/Dockerfile
    ports:
      - "8000:8000"
    env_file:
      - .env
    depends_on:
      - mongodb
      - qdrant

  mongodb:
    container_name: learn-ai-agents-mongodb
    image: mongo:7.0
    restart: always
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: ${MONGO_ROOT_USERNAME}
      MONGO_INITDB_ROOT_PASSWORD: ${MONGO_ROOT_PASSWORD}
      MONGO_INITDB_DATABASE: ${MONGO_DATABASE}
    volumes:
      - mongodb-data:/data/db
      - mongodb-config:/data/configdb

  qdrant:
    container_name: learn-ai-agents-qdrant
    image: qdrant/qdrant:latest
    restart: always
    ports:
      - "6333:6333"  # REST API
      - "6334:6334"  # gRPC API
    volumes:
      - qdrant-data:/qdrant/storage

volumes:
  data:
  mongodb-data:
  mongodb-config:
  qdrant-data:
