components:
  llms:
    langchain:
      groq:
        constructor:
          module_class: learn_ai_agents.infrastructure.outbound.llms.langchain_fwk.groq.LangchainGroqChatModelAdapter
          api_key: ${GROQ_API_KEY}
        instances:
          default:
            params:
              temperature: 0.1

agents:
  langchain:
    basic_answer:
      info:
        name: Basic Answer Agent
        description: An agent that provides basic answers using a language model.
      constructor:
        module_class: learn_ai_agents.infrastructure.outbound.agents.langchain_fwk.basic_answer.agent.BasicAnswerLangChainAgent
        components:
          llms: 
            default: llms.langchain.groq.default

use_cases:
  basic_answer:
    info:
      name: Basic Answer Use Case
      description: A use case that provides basic answers using the basic answer agent.
      path_prefix: /01_basic_answer
      router_factory: learn_ai_agents.infrastructure.inbound.controllers.agents.basic_answer:get_router
    constructor:
      module_class: learn_ai_agents.application.use_cases.agents.basic_answer.basic_answer.BasicAnswerUseCase
      components:
        agents:
          agent: agents.langchain.basic_answer
      config: {}
